<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- pipes -->
<div>
  <!-- uppercase and lowercase -->
  <!-- 
<h1>Uppercase pipe</h1>
<b>{{title | uppercase}}</b><br/>

<h1>Lowercase pipe</h1>
<b>{{title | lowercase}}</b><br/>

<!-- cuurency date and decimal -->
  <!-- <h1>Currency pipe</h1>
<b>{{4567.67 | currency:"INR":false}}</b><br/>
<b>{{4567.67 | currency:"INR":true}}</b><br/>
<h1>Date pipe</h1>
<b>{{todaydate | date:'d/M\/y'}}</b><br/>
<h1>DEcimal pipe</h1>
<b>{{546.8789876555 | number:'3.3-3'}}</b> -->



  <!-- json,percent and slice pipe -->
  <!-- <h1> Json pipe</h1>
  <b>{{jsonobj | json}}</b><br />
  <h1> Percent pipe</h1>
  <b>{{00.5467 | percent}}</b><br />
  <h1>Slice pipe</h1>
  <b>{{months | slice:2:5}}</b> -->
</div>

  <!-- custom pipe -->
  <!-- <h1>custom pipe</h1>
  <b>floor value of 25.9 : {{25.9 |floor}}</b><br/>
  <b>Floor value of 76.9 : {{76.9 | floor}}</b> -->


<b>reverse of string is {{name | rev }}</b>


<router-outlet></router-outlet>